body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #343a40;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  color: #007bff;
  font-family: 'Verdana', sans-serif;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 15px;
  background-color: #e9ecef;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.removeButton {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.removeButton:hover {
  background-color: #c82333;
}

#searchInput {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  input[type="text"],
  input[type="number"],
  #searchInput,
  button {
    width: calc(100% - 22px);
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  .removeButton {
    margin-top: 10px;
    width: 100px;
  }
}